Test.7/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52237/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Test._6" />
  <xs:element name="GetPlayerData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Test._6" minOccurs="0" name="GetPlayerDataResult" nillable="true" type="q1:ArrayOfPlayerModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>